# List : 
- Keep Mutiple data types
- Mutable

In [2]:
a = ['Pakistan','India','Australia','England','UK']
print(a)

['Pakistan', 'India', 'Australia', 'England', 'UK']

In [4]:
a[0] #How to retrive data

'Pakistan'

In [6]:
a[0:]

['Pakistan', 'India', 'Australia', 'England', 'UK']

# Slicing

In [9]:
print(a[0:3])

['Pakistan', 'India', 'Australia']

In [13]:
print(a[:-1])

['Pakistan', 'India', 'Australia', 'England']

In [17]:
print(a[3:-1])

['England']

In [30]:
print(a[-5:-1])

['Pakistan', 'India', 'Australia', 'England']

In [32]:
print(a[::-1])

['UK', 'England', 'Australia', 'India', 'Pakistan']

In [36]:
print(a[::2])

['Pakistan', 'Australia', 'UK']

In [44]:
print(a[0:4:2])

['Pakistan', 'Australia']

# Looping On List :

In [47]:
# Using For Loop:
a = ['Pakistan','India','Australia','England','UK']
for i in a:
    print(i)

Pakistan
India
Australia
England
UK

In [49]:
# Using Length :
a = ['Pakistan','India','Australia','England','UK']

for i in range(len(a)):
    print(a[i])

Pakistan
India
Australia
England
UK

In [57]:
# Using Short Hand For loop:
[print(i) for i in a]

Pakistan
India
Australia
England
UK

[None, None, None, None, None]

In [61]:
# Using While Loop :
a = ['Pakistan','India','Australia','England','UK']

i = 0
while i<len(a):
    print(a[i])
    i+=1

Pakistan
India
Australia
England
UK

# Functions On List: (Part1)

In [114]:
a = ['Pakistan','India','Australia','England','UK']

print(a)
# Find The Length of The List:
print(len(a))

['Pakistan', 'India', 'Australia', 'England', 'UK']
5

In [116]:
# To Count The Occurence of Particepeteence:
print(a.count('UK'))

1

In [118]:
# To Add To The List: 
a.append('USA')

In [120]:
print(a)

['Pakistan', 'India', 'Australia', 'England', 'UK', 'USA']

In [122]:
# To Add ToA specific Location:
a.insert(0,'Iran')

In [124]:
a

['Iran', 'Pakistan', 'India', 'Australia', 'England', 'UK', 'USA']

In [126]:
# To Remove From List Using Value:
a.remove('Iran')

In [128]:
a

['Pakistan', 'India', 'Australia', 'England', 'UK', 'USA']

In [130]:
# Remove Value Using Index : 
a.pop(1)

'India'

In [132]:
a

['Pakistan', 'Australia', 'England', 'UK', 'USA']

# More Functions Of List:

In [196]:
a = ['Pakistan','India','Australia','England','UK']

In [198]:
# Create A Copy :
b = []
print(b)
b = a.copy()
print(b)

[]
['Pakistan', 'India', 'Australia', 'England', 'UK']

In [200]:
# To Access An Element :
print(a[0])
print(a.index('Pakistan')) # return The Index Number

Pakistan
0

In [202]:
# To Merge The Two List :
b = ['Iran','Afghanistan']
a.extend(b)

In [204]:
a

['Pakistan', 'India', 'Australia', 'England', 'UK', 'Iran', 'Afghanistan']

In [224]:
# To Reverse The List:
a.reverse()
print(a)

['Afghanistan', 'Iran', 'UK', 'England', 'Australia', 'India', 'Pakistan']

In [236]:
a = ['Pakistan','India','Australia','England','UK']

In [244]:
a.sort()
print(a)

['Australia', 'England', 'India', 'Pakistan', 'UK']

# List Comprihension : 
- We Use It When We Want To Copy One List To Another List.

In [1]:
Uname = []
names = ['Asad','Saad','Nasir','Zaid','Fahad']
for i in names:
   Uname.append(i)

print(Uname)


l2 = [i for i in names]
print(l2)

['Asad', 'Saad', 'Nasir', 'Zaid', 'Fahad']
['Asad', 'Saad', 'Nasir', 'Zaid', 'Fahad']

# Problem Questions:

In [3]:
# Swap The First An dFourth Elements :
A = ['Rose','Rachel','Monica','Jeo']

# Same :

#A[1],A[3] = A[3],A[1]
#print(A)


# Same:

for i in range(len(A)):
    if i == 1:
        temp = A[i]
    elif i == 3:
        A[1] = A[i]
        A[i] = temp

print(A)

['Rose', 'Jeo', 'Monica', 'Rachel']

In [9]:
# Add New Value In The 2nd Possition:
A.insert(2,'Asad')

In [19]:
# Write A Programe To Remove Value From 3rd Possition:
A.pop(3)

'Monica'

In [21]:
A

['Rose', 'Jeo', 'Asad', 'Rachel']

In [65]:
B = [13,7,12,10]
a = 1
# Write a prgrame to multily all the numbers in the list:
for i in B:
    a*=i
    #print(a)
print(a)

10920

In [71]:
B = [13,7,12,10,70]
#print(max(B))

larg = B[0]

for num in B:
    if num > larg:
        larg = num
print(larg)

70

In [77]:
# Small Number :
small = B[0]
for i in B:
    if i<small:
        small = i

print(small)

7

# Tupples  ------------> :

In [82]:
#Hpw to Create tupple :
#Tupples Are Immutable:
#Permanent Data :
a  = ('Samsung','vevo','Iphone','Redmi','Nokia')

In [84]:
# Retrive Data From It :
print(a[2])

Iphone

In [86]:
print(a[-1])

Nokia

In [88]:
print(a[-4])

vevo

In [94]:
print(a[4])

Nokia

# Slicing :

In [99]:
print(a[0:5])

('Samsung', 'vevo', 'Iphone', 'Redmi', 'Nokia')

In [103]:
print(a[2:4])

('Iphone', 'Redmi')

In [107]:
print(a[3:5])

('Redmi', 'Nokia')

In [115]:
print(a[:-1])

('Samsung', 'vevo', 'Iphone', 'Redmi')

In [117]:
print(a[::1])

('Samsung', 'vevo', 'Iphone', 'Redmi', 'Nokia')

In [119]:
print(a[::-1])

('Nokia', 'Redmi', 'Iphone', 'vevo', 'Samsung')

In [121]:
print(a[::2])

('Samsung', 'Iphone', 'Nokia')

In [127]:
print(a[5:2:-1])

('Nokia', 'Redmi')

In [129]:
print(a[4:0:-1])

('Nokia', 'Redmi', 'Iphone', 'vevo')

# For Loop Iteration :

In [132]:
a  = ('Samsung','vevo','Iphone','Redmi','Nokia')

for i in a:
    print(i)

Samsung
vevo
Iphone
Redmi
Nokia

In [138]:
# Using Range And Length:
for i in range(len(a)):
    print(a[i])

Samsung
vevo
Iphone
Redmi
Nokia

In [142]:
# While Loop :
i = 0
while i<len(a):
    print(a[i])
    i+=1

Samsung
vevo
Iphone
Redmi
Nokia

In [148]:
# Short hand Forloop:
x = [i for i in a]
print(x)

['Samsung', 'vevo', 'Iphone', 'Redmi', 'Nokia']

# Conversion of Tuple  to List For Insertion of values:

In [171]:
a = (10,20,30,40,50)
print(a,type(a))
a = list(a)
print(a,type(a))

#you can now use list functions and add , del values;
a.append(60)
# Remove value :
a.remove(50)
print(a)

(10, 20, 30, 40, 50) <class 'tuple'>
[10, 20, 30, 40, 50] <class 'list'>
[10, 20, 30, 40, 60]

In [173]:
a.insert(4,50)
print(a)

[10, 20, 30, 40, 50, 60]

In [177]:
# Convert The List Into tupple:
a = tuple(a)
print(a)

(10, 20, 30, 40, 50, 60)

In [181]:
print(a.count(30))

1

In [183]:
print(a.index(30))

2

# Problem Solving :

In [208]:
#Convert The Following Dictionary into json :
import json
student_data = {'name':'David','Age':22,'marks':87}
print(type(student_data))
data = json.dumps(student_data)
print(data,type(data))

<class 'dict'>
{"name": "David", "Age": 22, "marks": 87} <class 'str'>

In [220]:
# Access the value of Age from the given data:
student_data = '{"name": "David", "Age": 22, "marks": 87}'
data = json.loads(student_data)
print(data['Age'])

22

In [228]:
#Prity Print Following json data:
student_data = {'name':'David','Age':22,'marks':87,'salary':20000}

#Convert Dictionary To jason Format using json.dumps()
data = json.dumps(student_data,indent=4,separators=(',','='))
print(data)

{
    "name"="David",
    "Age"=22,
    "marks"=87,
    "salary"=20000
}

In [230]:
#Sotr the following json key and save it in the file

student_data = {'name':'David','Age':22,'marks':87,'salary':20000}
with open('json.demo','w') as f:
    data = json.dumps(student_data,indent=4,sort_keys=True)
    f.write(data)
    print('The Data Has been Added in the file.')

The Data Has been Added in the file.

In [238]:
#Access The nested key marks from the following data:
import json

student = """{
    "stu": {
        "grade": {
            "name": "David",
            "marks": {
                "math": 87
            }
        }
    }
}"""

data = json.loads(student)

# To access name and math marks correctly:
print("Name:", data['stu']['grade']['name'])
print("Math Marks:", data['stu']['grade']['marks']['math'])

Name: David
Math Marks: 87

# Dictionary :

In [2]:
stu_data = {'name':'Asad','Age':22,'Roll':1234}

print(stu_data)

{'name': 'Asad', 'Age': 22, 'Roll': 1234}

In [10]:
# Retrive Data:
print(stu_data['Age'])
print(stu_data['Roll'])

22
1234

# Iteration On Keys And Values:

In [13]:
stu_data = {'name':'Asad','Age':22,'Roll':1234,'class':'14th'}
print(stu_data['name'])
stu_data

{'name': 'Asad', 'Age': 22, 'Roll': 1234, 'class': '14th'}

In [15]:
#simple iteration:  By Default its give you keys
for x in stu_data:
    print(x)

name
Age
Roll
class

In [17]:
# Get All Values : 
# print(stu_data['name']) Using this method :
for x in stu_data:  
    print(stu_data[x])

Asad
22
1234
14th

In [21]:
# Another Way To Get Values :
for x in stu_data.values():
    print(x)

Asad
22
1234
14th

In [23]:
# Way to Get Keys:
for x in stu_data.keys():
    print(x)

name
Age
Roll
class

In [41]:
# Way to Get Both Values And keys:
for i,x in enumerate(stu_data.items()):
    print(i,x)

for x,y in (stu_data.items()):
    print(x,':', y)

0 ('name', 'Asad')
1 ('Age', 22)
2 ('Roll', 1234)
3 ('class', '14th')
name : Asad
Age : 22
Roll : 1234
class : 14th

# Function of Dictionaries :

In [86]:
stu_data = {'name':'Asad','Age':22,'Roll':1234,'class':'14th'}

#get
print(stu_data.get('name')) , print(stu_data['Age'])
#item
a = stu_data.items()
print(a)
#keys
a = stu_data.keys()
print(a)
#values
a = stu_data.values()
print(a)
#copy
b = stu_data.copy()
print('Create a copy :',b)

Asad
22
dict_items([('name', 'Asad'), ('Age', 22), ('Roll', 1234), ('class', '14th')])
dict_keys(['name', 'Age', 'Roll', 'class'])
dict_values(['Asad', 22, 1234, '14th'])
Create a copy : {'name': 'Asad', 'Age': 22, 'Roll': 1234, 'class': '14th'}

In [138]:
stu_data = {'name':'Asad','Age':22,'Roll':1234,'class':'14th'}

#setdefault
print(stu_data.setdefault('Roll'))
#update
b = {'Name':'Saad','Work':'Tech'}
stu_data.update(b)
print(stu_data)
#pop
a = stu_data.pop('Age')
print(a)
stu_data
#popitem : remove  the last item and return deleted (key : value)
b = stu_data.popitem()
b
#clear : Removw all the elements from the dictionary
stu_data.clear()

1234
{'name': 'Asad', 'Age': 22, 'Roll': 1234, 'class': '14th', 'Name': 'Saad', 'Work': 'Tech'}
22

('Work', 'Tech')

# Nested Dictionary :
- Inside Dictionary Multiple Dictionaries.

In [ ]:
dic = {
    person1:{'Name':'Asad','Age':22,'Proffesion':'Ai/Data-Analyst'},
    person2:{'Name':'Sami','Age':23,'Proffesion':'Mernstack'},
    person3:{'Name':'Saad','Age':22,'Proffesion':'Frontend'},
    person4:{'Name':'Mutahir','Age':21,'Proffesion':'Frontend'}
    
}

pri