In [6]:
# Print is a function which can print msgs ect .
print('Wellcome -- Hellow!')
print('My name is Asad-ullah khan!')
print('All is well')

Wellcome -- Hellow!
My name is Asad-ullah khan!
All is well

In [26]:
# Muti line prints 
print('''
I am Asadullah khan
I hope your Doing well.
Well come to paistan
''')

print('Hi\nMy name is Asadullah\nI am a Public Speaker')

I am Asadullah khan
I hope your Doing well.
Well come to paistan

Hi
My name is Asadullah
I am a Public Speaker

In [34]:
# Singele line comment -----
'''
muti line comments with
Extra thing :
like foods , travels , Experince.
'''
print('nothing')

nothing

In [52]:
#variable  is a container and it can store a value is called a value .
a = 10
print(a)
print(type(a))
name = 'Asad-Kahn'
print(name)
print(type(name))
flot = 2.5
print(flot)
print(type(flot))

10
<class 'int'>
Asad-Kahn
<class 'str'>
2.5
<class 'float'>

In [98]:
# Rulles of variable declaration:
'''
1 - No Addition Of Any Special Keywords
2 - No Addition Of Numbers In Start
3 - No Addition Of Operater 
4 - Addition of _ in variable
5 - Addition Of Number In End Of variable
6 - No Addition of Spacing in variable
7 - Checking Of Case -----> Because of Case Sensitive
'''
name_ = 'SaadKhan'
name1 = 'Sana'
n8n = 'Ai-Technology'
e = 2

In [104]:
# Data Types :
'''
1 integer  20
2 float    2.50
3 list , tupple , Dictionary , set  [] , () , {} ,{}
4 Boolean True/False
'''
d = 'Done'

In [108]:
# User_Input :
name = input('Enter name: ')
Age = input('Enter Age: ')
Qualification = input('Enter you qualification: ')

print(name,Age,Qualification)

Enter name:  Asad
Enter Age:  22
Enter you qualification:  cs

Asad 22 cs

In [120]:
# Type Cheacking:
Age = int(input('Enter Age: '))
Time = int(input('Enter Time: '))
weight = float(input('Enter Weight :'))
print(Age)
print(type(Age))
print(Time)
print(type(Time))
print(weight)
print(type(weight))

Enter Age:  22
Enter Time:  3
Enter Weight : 55

22
<class 'int'>
3
<class 'int'>
55.0
<class 'float'>

In [7]:
import requests
def weather(city,api_key):
    url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric'
    response = requests.get(url)
    try:
        if response.status_code==200:
            data = response.json()
            print(f'City : {data['name']} ')
            print(f'Temperature {data['main']['temp']} *c')
            print(f'Weather : {data['weather'][0]['description'].title()}')
            print(f'Humidity : {data['main']['humidity']}')
            print(f'Wind speed : {data['wind']['speed']}')
        else:    
            print('City Noy Found Error.')
    except Exception as e:
         print(e)

Api_key = '13197b75417eab3d66da42c788af007e'
city = input('Enter Your City : ')
weather(city,Api_key)

Enter Your City :  Washington dc

City : Washington D.C.
Temperature 21.68 *c
Weather : Overcast Clouds
Humidity : 94
Wind speed : 3.41

In [12]:
# Type casting :
#Implicit : Mean The python it self change its type.
a = 100
b = 1.5
print(type(a))
print(type(b))
# The mixture of int+float is : float By self it recognize and change
c = a+b
print(c)
print(type(c))

#Explicit : Mean You can change the type by yorself.
a = '123'
b = 100

a = int(a)
c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
101.5
<class 'float'>
223
<class 'int'>

# Problem With Solution :

In [37]:
print('Name : Asadullah Khan')
print('Agec: 22')
print('Address : Mt khan Road New Haji Camp Sultanabad.')

Name : Asadullah Khan
Agec: 22
Address : Mt khan Road New Haji Camp Sultanabad.

In [39]:
a = 'Asad'
b = 'Saad'

print('Before Swapping :',a)
print('Before Swapping :',b)

a , b = b , a
print('After Swapping : ',a)
print('After Swapping : ',b)

Before Swapping : Asad
Before Swapping : Saad
After Swapping :  Saad
After Swapping :  Asad

In [43]:
f = 3.5
print(type(f))

f = int(f)
print(type(f))

<class 'float'>
<class 'int'>

In [45]:
name = input('Enter Your Name : ')
Id = int(input('Enter Your Id: ') )
print('Stu Nameis : ',name)
print('Stu Id Is : ',Id)

Enter Your Name :  Asadkhan
Enter Your Id:  222

Stu Nameis :  Asadkhan
Stu Id Is :  222

In [47]:
Id = int(input('Enter Your Id: ') )
Id = float(Id)
print(Id)

Enter Your Id:  12345

12345.0

# Operater And Operand :

In [50]:
# Operater : Jo task Perform karta hy .
# Operand : Jin Ke Upper task Perform Hota hy .

# Types Of Operaters Are :
# 1 - Arethematic operater 
# 2 - Comparission Operater
# 3 - Logical Operater
# 4 - Assignment Operater 
# 5 - Identity Operatter
# 6 - Membership operater
# 7 - Bitwise Operater

# Arethematic Operaters :

In [59]:
Add = 1000+2000
print('Adding two numbers Using : +',Add)

Mul = 1000*2
print('Multiplying Two Numbers Using : *',Mul)

Div = 100/3 # Float Division
print('Division Of Two numbers Using : /' ,Div)

Div = 100//3 # Floor Division
print('Division Of Two numbers Using : /' ,Div)

Sub = 1000-100
print('Sub Of Two Numbers Using : -',Sub)

Exp = 20**5
print('Eponetial of Two Numbers Using : **', Exp)

Mod = 100%5
print('Modulous Of Two Numbers Using : %',Mod)

Adding two numbers Using : + 3000
Multiplying Two Numbers Using : * 2000
Division Of Two numbers Using : / 33.333333333333336
Division Of Two numbers Using : / 33
Sub Of Two Numbers Using : - 900
Eponetial of Two Numbers Using : ** 3200000
Modulous Of Two Numbers Using : % 0

# Comparision Operater :
- Answer Should be come as a Boolean.

In [90]:
print('Greater Than : ',10>5>3)
print('Greater Than & Equal to : ',10>=3>=3<=2)

print('Less Than : ', 20<10)
print('Equal To : ',100 == 200)

print('Not Equal To : ',10!=20)

Greater Than :  True
Greater Than & Equal to :  False
Less Than :  False
Equal To :  False
Not Equal To :  True

# Logical operaters:
- Answer Should be come as a Boolean.

In [117]:
print('Using of or operater: ',100>200 or 200>100)

print('Using of Not Operater :',not(100>200 or 200>100))
print('Using of Not Operater :',not(100>200 or 200<100))

print('Using of And Operater :' , (100 == 100) & (2000>1000))
print('Using of And Operater :' , (10 >= 100) & (2000>1000))

print('Using of And Operater :' , not((10 >= 100) & (2000>1000)))

Using of or operater:  True
Using of Not Operater : False
Using of Not Operater : True
Using of And Operater : True
Using of And Operater : False
Using of And Operater : True

# Assignment  Operater:

In [23]:
a = 200  
print('Is Equal To Operater : = ', a )

a = 5
a+=4
print('Plus Equal To Increment: ',a)

a = 10
a-=5
print('Minus Equal To Decrement',a)

a = 10
a*=3
print('Multiply Equal To Power Add',a)

Is Equal To Operater : =  200
Plus Equal To Increment:  9
Minus Equal To Decrement 5
Multiply Equal To Power Add 30

# Identity Operater :
- Cheack The Type Of Two objects : is(str == str) , is(int == ins)
- Check The Id Both Are Store on same ID

In [68]:
a = 10
b = 10
print(b)
b == b
print(b)
print(a is b)




print(10 is 20)
print(a is b)


print(100 is not  200)
print(a is not b)
print(a+1 is not b)




a = 10
b = 10.5

print(type(a) is type(b) )
print(type(a) is not type(b) )

10
10
True
False
True
True
False
True
False
True

<>:11: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:15: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:11: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:15: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10460\3967490756.py:11: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(10 is 20)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10460\3967490756.py:15: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(100 is not  200)

# Bit Wise Operater :
- works on binnary numbers
- And : Is works on binnary means if both are 1 & 1. It Should Be be True On The Last Operand Value.
- or : Or Operater is True On First operand in modt of the time : It would be 0 or 1 and 1 or 0

In [134]:
print(bin(35))

a= 10 
b = 8

print(a & b)

a = True 
b = False

print(a & b)
print( 10 & 19)

B = 'Burger'
C = "Cat"

print(len(B) & len(C))

0b100011
8
False
2
2

In [224]:
# Or Operater
a = 10
b = 4

print(a or b)

a = False
b = False
print(a or b)

a = True
b = False
print(a or b)


a = False
b = True
print(a or b)


l = ['Asad','Saad','Khan','saif','set','set']
m = ['Asad','Saad','khan','Saif']
s = [1,2,3]

print(len(l) & len(s))

10
False
True
True
2

#  Membership Operater : 
- In
- not in

In [287]:
l = ['Asad','Saad','Khan','saif','set','set']
print(('set' or 'Saad') in l)

print(l[1] in l)

True
True

In [295]:
print( 'A' in 'Aaif')

True