# Loops:
- For Loop
- While loop
- While True
- Nested  Loop

# For Loop :

In [32]:
for i in range(1,5):
    print(i)

n = int(input('Enter Your Number : '))
for i in range(1,11):
    print(f'{n} x {i} = {n*i}')

1
2
3
4

Enter Your Number :  1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
0
2
4
6
8
10

In [40]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [42]:
for i in range(1,11,3):
    print(i)

1
4
7
10

# While loop:

In [13]:
n = 0
while n<=5:
    print(n)
    n+=2

0
2
4

In [7]:
i = 1
while i<=20:
    print(i)
    i+=5

1
6
11
16

In [3]:
n = int(input('Enter Number : '))
i = 1

while i<=10:
    print(f'{n} X {i} = {n*i}')
    i+=1

Enter Number :  10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [41]:
n = ['Asad','Saad','zaid','Sami']
i = len(n)
while i<=4:
    print(n)
    i+=1

['Asad', 'Saad', 'zaid', 'Sami']

In [43]:
# While True:

In [ ]:
n = 0
while True:
    if n<=10:
        print(n)
        n+=1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
while True:
    num1 = int(input('Num 1'))
    num2 = int(input('Num 2'))
    print(num1+num2)
    repeat = input('Do Want To repea: ')
    if repeat == 'yes':
        break

Num 1 10
Num 2 23

33

Do Want To repea:  yes

# Nested Loop :

In [14]:
for i in range(1,5):
    for j in range(1,11):
        print(j,end = '')
    print()

12345678910
12345678910
12345678910
12345678910

In [18]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [32]:
for i in range(1,10,2):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
123
12345
1234567
123456789

# Loops with If Else:

In [54]:
for i in range(1,11):
    if i == 3:
        #continue
        print('You Are The Best.')
    else:
        print(i)

1
2
You Are The Best.
4
5
6
7
8
9
10

In [64]:
for i in range(1,50):
    if i%3==0 and i%7==0:
        print(i)

21
42

In [88]:
for i in range(1,11):
    if i == 3:
        continue
    else:
        print(i)

1
2
4
5
6
7
8
9
10

In [90]:
for i in range(1,11):
    if i == 3:
        break
    else:
        print(i)

1
2

In [104]:
s = 0
for i in range(1,51):
    if i%2==0:
        #print(i)
        s+=i

print(s)

650

In [106]:
for i in range(1,21):
    s = i**2
    print(s)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [11]:
n = 0
sum = 0
while n <= 20:
    if n % 2 == 1:
        print(n)
        sum += n
    n += 1  # Always increment n (outside the if block)

print("Sum of odd numbers:", sum)

1
3
5
7
9
11
13
15
17
19
Sum of odd numbers: 100

In [13]:
for i in range(1,101):
    if i % 8 ==0 and i % 12 == 0:
        print(i)

24
48
72
96

In [21]:
while True:
    name = input('Enter Your Name: ')
    total = 0

    while True:
        print('Enter Your Amount And Quantity:')
        amount = int(input('Enter Your Amount: '))
        quantity = int(input('Enter Your Quantity: '))
        total += amount * quantity

        repeat = input('Do You Want To Buy Something More? (Yes/No): ').lower()
        if repeat == 'no':
            break

    print('-' * 40)
    print('Your Name Is:', name)
    print('Your Total Amount Is:', total)
    print('-' * 40)

    repeat1 = input('Do You Want To Go To Another Customer? (Yes/No): ').lower()
    if repeat1 == 'no':
        break

Enter Your Name:  Asad

Enter Your Amount And Quantity:

Enter Your Amount:  100
Enter Your Quantity:  2
Do You Want To Buy Something More? (Yes/No):  yes

Enter Your Amount And Quantity:

Enter Your Amount:  200
Enter Your Quantity:  1
Do You Want To Buy Something More? (Yes/No):  no

----------------------------------------
Your Name Is: Asad
Your Total Amount Is: 400
----------------------------------------

Do You Want To Go To Another Customer? (Yes/No):  no

# Problem For String :

In [42]:
A = 'Why fit in,When you are Born to Stand Out!'
print(len(A))
print(A.find('o'))
print(A.lower())
print(A.upper())
print(A.title())
print(A.index('fit in'))

42
17
why fit in,when you are born to stand out!
WHY FIT IN,WHEN YOU ARE BORN TO STAND OUT!
Why Fit In,When You Are Born To Stand Out!
4

# Pattern Problem Solving:

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [38]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(j,end=' ')
    print()

6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

In [42]:
for i in range(6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [308]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [316]:
for i in range(6):
    for j in range(1,i+1):
        print('*',end=' ')
    print()
for i in range(6,0,-1):
    for j in range(1,i-1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [320]:
for i in range(1,11):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [326]:
for i in range(10,0,-1):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

10 20 30 40 50 60 70 80 90 100
9 18 27 36 45 54 63 72 81
8 16 24 32 40 48 56 64
7 14 21 28 35 42 49
6 12 18 24 30 36
5 10 15 20 25
4 8 12 16
3 6 9
2 4
1

In [330]:
for i in range(1,10):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()    

for i in range(10,0,-1):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100
9 18 27 36 45 54 63 72 81
8 16 24 32 40 48 56 64
7 14 21 28 35 42 49
6 12 18 24 30 36
5 10 15 20 25
4 8 12 16
3 6 9
2 4
1

# String Manipulation :

In [333]:
a = 'Every thing is temporary except Allah'

In [339]:
print(a)

Every thing is temporary except Allah

In [341]:
print(len(a)) # To Find The Length.

37

In [343]:
print(a.count('e')) # To Count The Indivisual charecter in a sentence.

4

In [353]:
print(a.index('A')) # To Find The Index Number .

32

In [355]:
print(a.upper()) # To Make All The Letters Upper

EVERY THING IS TEMPORARY EXCEPT ALLAH

In [357]:
print(a.lower()) #To Make All The Letterss Lower.

every thing is temporary except allah

In [363]:
print(a.find('Allah')) # It Can Return You The First Latter Index.

32

In [365]:
print(a.capitalize())

Every thing is temporary except allah

In [397]:
name =  'Asad'
b = 'My Name Is {}'
print(b.format(name))

My Name Is Asad

In [413]:
print(a.center(100,'*')) # Used to center the stings .

*******************************Every thing is temporary except Allah********************************

# More Methods of Strings:

In [491]:
a  = 'hellow'
b = '123Hellow'
c = '123456'
d = 'HELLOW'
e = ' '
f = 'Hellow 123'
g = '1.234'

In [428]:
# isalnum() : It checks the alphabets and numerics in the sentence etc. return True . 
# Not works on empty str ' ' and 
print(a,a.isalnum())
print(b,b.isalnum())
print(c,c.isalnum())
print(e,e.isalnum())
print(f,f.isalnum())
print(g,g.isalnum())

hellow True
123Hellow True
123456 True
 False
Hellow 123 False
1.234 False

In [444]:
# isalpha() : It checks the alphabets only in the sentence etc. then return True . 
print(a,a.isalpha())
print(b,b.isalpha())
print(c,c.isalpha())
print(d,d.isalpha())
print(e,e.isalpha())
print(f,f.isalpha())
print(g,g.isalpha())

hellow True
123Hellow False
123456 False
HELLOW True
 False
Hellow 123 False
1.234 False

In [458]:
# isdecimal() : It checks the numbers only in the sentence etc. then return True . 
print(a,a.isdecimal())
print(b,b.isdecimal())
print(c,c.isdecimal())
print(d,d.isdecimal())
print(f,f.isdecimal())
print(g,g.isdecimal())

hellow False
123Hellow False
123456 True
HELLOW False
Hellow 123 False
1.234 False

In [470]:
# isdigit() : It checks the numbers only in the sentence etc. then return True . 
print(a,a.isdigit())
print(b,b.isdigit())
print(c,c.isdigit())
print(f,f.isdigit())
print(g,g.isdigit())

hellow False
123Hellow False
123456 True
Hellow 123 False
1.234 False

In [480]:
# isnumeric() : It checks the numbers only in the sentence etc. then return True . 
print(c,c.isnumeric())
print(f,f.isnumeric())
print(g,g.isnumeric())

123456 True
Hellow 123 False
1.234 False

In [497]:
# isspace() : It checks the whitespace only in the sentence etc. then return True . 
print(e,e.isspace())
print(f,f.isspace())

  True
Hellow 123 False

# More Methods of Strings:

In [593]:
# Endswith() :  Check the end of the sting if corect return True else False.
a = 'My Name Asadullah Khan and I am A data analyst'
print(a.endswith('t'))
print(a.endswith('A'))
#print(a.index('A'))
#print(a.index('h'))
print(a.endswith('h',8,17))
print(a.endswith('n',8,22))

True
False
True
True

In [625]:
# stratwith() : Check the start of the sting if corect return True else False.
a = 'My Name Asadullah Khan and I am A data analyst'

print(a.startswith('M'))
print(a.startswith('A',8))
#print(a.index('K'))
print(a.startswith('K',18,21))
print(a.startswith('I',27))

True
True
True
True

In [641]:
# Strip() , rstrip() , lstrip() : It Can Remove WhiteSpaces , ...... , ************ etc.
a = '  *****         My Name Asadullah Khan and I am A data analyst      ............'
b = '    Work     '
print(a.strip())
print(a.strip('. , *'))
print(b.lstrip())
print(b.rstrip())

*****         My Name Asadullah Khan and I am A data analyst      ............
My Name Asadullah Khan and I am A data analyst
Work
    Work

In [661]:
# Split() : split the string at the specified separater , and return a list.
a = 'Asad,saad,zaid,nasir,khan'
print(a.split(','))
b = 'My Name Is Saleem And I am A Cricketer.'
print(b.split('And'))


for i in a.split(','):
    if i == 'Asad':
        continue
    print(i)

['Asad', 'saad', 'zaid', 'nasir', 'khan']
['My Name Is Saleem ', ' I am A Cricketer.']
saad
zaid
nasir
khan

In [12]:
# ljust() : Return a spaces from left side 
a = 'Asad khan'
x = a.ljust(20)
print(x,'Is fav Sports.')

x = a.ljust(20,'*')
print(x,'Is fav Sports.')

Asad khan            Is fav Sports.
Asad khan*********** Is fav Sports.

In [16]:
# rjust() : Return a spaces from right side 
a = 'Cricket'
x = a.rjust(20)
print(x,'Is fav Sports.')

x = a.rjust(20,'*')
print(x,'Is fav Sports.')

             Cricket Is fav Sports.
*************Cricket Is fav Sports.

In [26]:
# Replace() : It Is Used To Replace the Values.
a = 'My Name is Asad.Asad Is a Crickter.'
print(a)
print(a.replace('Asad','Saad'))
print(a.index('Asad'))

My Name is Asad.Asad Is a Crickter.
My Name is Saad.Saad Is a Crickter.
11

# String Slicing:

In [97]:
a = 'My Name is Asad.Asad Is a Crickter.'

print(a[0])
print(a[0:])
print(a[0:8])
print(a[11:15])
print(a[::5])
c = a[11:20]
print(c.replace('.',' '))
print(a[::-1])

a = '012345678910'
print(a[0:])
print(a[::2])
print(a[3:6])
print(a[::-1])
print(a[-4:])

M
My Name is Asad.Asad Is a Crickter.
My Name
Asad
Mm .  k
Asad Asad
.retkcirC a sI dasA.dasA si emaN yM
012345678910
024681
345
019876543210
8910

# Problem Solving :

In [100]:
# Febonnaci Series :
a = 0
b = 1

print(a)
print(b)

for i in range(2,11):
    c = a+b
    a = b
    b = c
    print(b)

0
1
1
2
3
5
8
13
21
34
55

In [137]:
# Prime Number :
num = int(input('Enter Number: '))
if num <= 1:
    print('Its Not A Prime Number!')
else:
    for i in range(2,num):
        if num % 2==0:
            print('Not Prime Number')
            break
    else:
        print('Prime Number')

Enter Number:  13

Prime Number

In [9]:
# Palendrome Number ;

num = int(input('Enter a Number : '))
tep = num
rev = 0

while num>0:
    dig = num%10
    rev = rev*10+dig
    num = num//10

if tep == rev:
    print('It Is A Palendrome.')

else:
    print('Not Plaendrome.')

Enter a Number :  333

It Is A Palendrome.

In [45]:
# Area Calculater :

while True:
    name = input('Enter Name : q quit')
    if name == 'q':
        break
    num1 = 3
    num2 = 5
    shape = input('Enter Yor Shape: ')
    if shape == 'square':
        Area = num1*num2
        print(f'The area Of the {shape} is {Area}')
        
    elif shape == 'rectangle':
        Area = num1*num2
        print(f'The area Of the {shape} is {Area}')
    
    
    elif shape == 'triangle':
        Area = (1/2)*(num1*num2)
        print(f'The area Of the {shape} is {Area}')
    
    
    
    elif shape == 'circle':
        Area = (3.1416)*(num1**2)
        print(f'The area Of the {shape} is {Area}')
    
    else:
         print('No Shape Found!')

Enter Name : q quit asad
Enter Yor Shape:  circle

The area Of the circle is 28.2744

Enter Name : q quit q

# Problem Solving:

In [48]:
A = 'OOTD.YOLO.ASAP.BRB.GRG.OTW'

In [82]:
# Separate in comas:
print(A.replace('.',',').split(','))

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GRG', 'OTW']

In [86]:
# Sort Letters Alphabeticaly.
l = input('Enter Letters: ')
print(sorted(l))

Enter Letters:  hello

['e', 'h', 'l', 'l', 'o']

In [90]:
# Replace Chater From The Letters:
l = input('Enter Letters: ')

print(l.replace('a','A'))

Enter Letters:  Saad

SAAd

In [94]:
# Write a programe to remove . form the word:
a = 'F.R.I.E.N.D.S'

print(a.replace('.',''))

FRIENDS

In [100]:
# Write a prog to count occurence :
a = 'My Name Is Asad.Asad Is a Good player.Asad Can Bowl'
print(a.count('Asad'))

3

# Problem solving:

In [105]:
# Take input from user and reverse it:
l = input('Enter Letters: ')
print(l[::-1])

Enter Letters:  MY NAME IS ASAD

DASA SI EMAN YM

In [109]:
l = input('Enter Letters: ')

check = l.isnumeric()
print(check)

Enter Letters:  12345

True

In [113]:
l = input('Enter Letters: ')
rev = l[::-1]

if l == rev:
    print('Palendrome.')

else:
    print('Not Palendrome.')

Enter Letters:  sss

Palendrome.

In [177]:
a = 'My name is asad khan . I play cricket'
count = 0

for char in a:
    if char in['a', 'e', 'i', 'o', 'u']:
        count+=1

print(count)

9

In [197]:
l = input('String : ')
print(l.istitle())

String :  Saad Bahi Is A

True